body{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: sans-serif;
}
header{
    background-color: #eeeeee;
    height: 115px;
    padding-bottom: 1px; 
    text-align: center;
}
.header{
    padding: 20px 3px; 
    
}

main{
    text-align: justify;
    background-color: #eeeeee ;
    padding-top: 1px;
    padding-bottom: 1px;
}
.fig-img{
    background-color: #ffffff;
    margin: 10px;
    text-align: center;
}
.fig-img figure{
    padding-bottom: 20px;
}
.fig-img figure img{
    height: 650px;
    width: 1050px;
    padding-bottom: 10px;
}
.parag {
    text-align: center;
    padding: 30px;
}
span{
    font-weight: bold;
}
.list-div{
    padding-left: 30%;
    padding-right: 30%;
    max-width: 800px;
}
.list-div ul li{
    padding: 10px 3px;
}
.block-div {
    padding-left: 29%;
    padding-right: 27%;
    max-width: 800px;
}
footer{
    padding-bottom: 5px;
    background-color: #eeeeee ;
    padding-top: 1px;
    text-align: center;
}